.button {
    font-family: 'Great Vibes', cursive;
    margin-left: 1000px;
   border-color: rgb(240, 145, 240);
    background-color: rgba(174, 93, 250, 0.418);
    font-size: 20px;
    padding: 1px;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    color: rgb(100, 5, 100);
}

.button:hover {
    box-shadow: 0 0 10px rgb(230, 32, 230); /* Cambiamos el color de la sombra en el hover a violeta para iluminar los bordes */
}