



.SearchButton{
  
  
  border-color: rgb(240, 145, 240);
   background-color: rgba(174, 93, 250, 0.418);
   font-size: 15px;
   padding: 3px 5px;
   width: 75px;
   height: 60px;
   border-radius: 10px;
  }

  .SearchButton:hover{
    box-shadow: 0 0 10px rgb(230, 32, 230); /* Cambiamos el color de la sombra en el hover a violeta para iluminar los bordes */
  }

  